:root {
    --heading: #111440;
    --subheading: #82BF45;
    --grey-background: #202329;
    --light-grey: #3c3e44;
    --grey-text: #9e9e9e;
}

body {
    font-family: 'B612', sans-serif;
}


/* nav */

nav .dropdown-menu .dropdown-item {
    cursor: pointer;
}

nav .dropdown-menu .dropdown-item:active {
    background-color: transparent;
}


/* search */

.search .buttons button {
    background-color: var(--subheading);
    border: var(--subheading);
    color: var(--light-grey);
    font-weight: 500;
    text-transform: lowercase;
    padding: 0.5rem 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}


/* top content - home*/

.top-content .info img {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.top-content h1 {
    color: var(--heading);
}

.top-content .info .content-info h5 {
    color: var(--subheading);
    font-weight: bold;
}


/* cards */

.cards .col-card-container .card {
    background-color: var(--light-grey);
    color: white;
}

.cards .col-card-container .card,
.cards .col-card-container .card img {
    border-radius: 1rem;
}

#cards img {
    height: 100%;
    width: 100%;
}

#cards .col-md-4 {
    padding: 0;
}

.cards .col-card-container .card .row {
    --bs-gutter-x: 0;
}

.cards .col-card-container .card img {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.cards .col-card-container .card .card-body .section .state {
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.cards .section {
    margin-bottom: -0.3rem;
}

.cards .card-body .section p.state {
    margin: 0;
}

.cards .card-body .section h4 {
    font-weight: bold;
}

.cards .section .seen,
.cards .section .location {
    color: var(--grey-text);
    margin-bottom: -0.05rem;
}

div.status-icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.375rem;
    border-radius: 50%;
}

div.status-icon.Alive {
    background: rgb(85, 204, 68);
}

div.status-icon.Dead {
    background: rgb(214, 61, 46);
}

div.status-icon.unknown {
    background: rgb(158, 158, 158);
}

.hide {
    display: none;
}

.show {
    display: block;
}


/* footer */

footer div.status-icon {
    margin-top: 0rem;
    margin-right: 0.6rem;
    background-color: #F28322;
}